<mat-card class="p-3 mt-3 aparecer">
    <div class="container">
        <h1 class="fs-2" style="color:coral">Comentarios</h1>
        <!-- Comentarios -->
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <mat-form-field class="w-100 mt-3">
                    <mat-label>Escriba aqui para realizar un comentario</mat-label>
                       <input type="text" matInput required placeholder="Ingrese su comentario">
                    </mat-form-field>
                    <button mat-stroked-button color="warn">Comentar</button>
                </form>
            </div>
        </div>

      
    </div>
</mat-card>